body {
    margin: 50px 100px;
}

table {
    border: 1px solid;
}

th,
td {
    padding: 10px;
}

th {
    background-color: rgb(175, 175, 223);
}

td {
    background-color: rgb(220, 220, 228);
}

img {
    width: 150px;
    height: 175px;
    border-radius: 50%;
    padding: 10px;
}